@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');
/***************colors*****************/
:root{
    --Red: hsl(0, 100%, 74%);
    --Green: hsl(154, 59%, 51%);
    --Blue: hsl(248, 32%, 49%);
    --DarkBlue: hsl(249, 10%, 26%);
    --GrayishBlue: hsl(246, 25%, 77%);
}
/**************************************/
*{
    font-family: 'Poppins', sans-serif; 
}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url(./images/bg-intro-desktop.png);
    background-color: var(--Red);
    flex-direction: column;
    overflow: hidden;
}
main{
    display: flex;
    flex-direction: row;
    width: 67rem;
    justify-content: space-between;
    align-items: center;
}
.txt{
    color: #fff;
    width: 40rem;
    height: fit-content;
}
h1{
    font-weight: 700;
    font-size: 3em;
    line-height: 1em;
}
div.login{
    display: flex;
    flex-direction: column;
}
div.banner{
    background-color: var(--Blue);
    text-align: center;
    color: #fff;
    width: 31rem;
    padding: 0.05rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.4rem #DC6767;
    margin-bottom: 1.5rem;
    font-size: 16px
}
form{
    background-color: #fff;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0.4rem #DC6767;
    justify-content: space-around;
    padding: 2rem;
    gap: 1rem;
}
input{
    width: 25rem;
    height: 3rem;
    border-radius: 0.25rem;
    border: solid 1px var(--GrayishBlue);
    outline: none;
    padding-left: 2rem;
    /*background-image: url(./images/icon-error.svg);*/
    background-repeat: no-repeat;
    background-position: 95% 50%;
}
input::placeholder{
    font-family: 'Poppins' sans-serifs;
    font-weight: 700;
}
.trial{
    background-color: var(--Green);
    width: 26rem;
    text-align: center;
    color: #fff;
    padding: 0.8rem;
    border-radius: 0.25rem;
    font-weight: 500;
    box-shadow: 0 0.2rem hsl(154, 59%, 45%);
    transition: 0.3s;
}
.trial:hover{
    background-color: #77E2B4;
}
.terms{
    color: var(--GrayishBlue);
    font-size: 0.6em;
    margin-top: 1rem;
}
.terms span{
    color: var(--Red);
    font-weight: 700;
}
.alertoff{
    margin-right: -65%;
    text-align: end;
    color: var(--Red);
    font-size: 0.7rem;
    margin-top: -0.5rem;
    display: none;
}
.alerton{
    margin-right: -65%;
    text-align: end;
    color: var(--Red);
    font-size: 0.7rem;
    margin-top: -0.5rem;
    display: block;
}