@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');
/***************colors*****************/
:root{
    --Red: hsl(0, 100%, 74%);
    --Green: hsl(154, 59%, 51%);
    --Blue: hsl(248, 32%, 49%);
    --DarkBlue: hsl(249, 10%, 26%);
    --GrayishBlue: hsl(246, 25%, 77%);
}
/**************************************/
*{
    font-family: 'Poppins', sans-serif; 
}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url(./images/bg-intro-desktop.png);
    background-color: var(--Red);
    flex-direction: column;
    overflow: hidden;
}
main{
    display: flex;
    flex-direction: row;
    margin: 0 15rem;
}
.txt{
    color: #fff;
    width: 40rem;
}
h1{
    font-weight: 700;
    font-size: 3em;
    line-height: 1em;
}